.nav{
    margin-bottom: 10px;
}

.open>.dropdown-menu{
    z-index: 2000;
}

.nav li:hover .dropdown-menu{
    display: block;
    z-index: 2000;
}


.canvas-class{
    position: absolute;
    z-index: 999;
    /*right: 7%;*/
    /*!*margin-top: 7px;*!*/
    margin-left: -140px;
    margin-top: 154px;
    transform: rotate(90deg);
}

.title-canvas{
    position: absolute;
    z-index: 999;
    margin-top: 371px;
    font-weight: 600;
    margin-left: 6px;
}

.top-value-class{
    position: absolute;
    z-index: 999;
    margin-top: 94px;
    font-weight: 600;
    margin-left: 6px;
    color: #ff0000;
}

.middle-value-class{
    position: absolute;
    z-index: 999;
    margin-top: 211px;
    font-weight: 600;
    margin-left: 14px;
    color: #ffa500;
}

.last-value-class{
    position: absolute;
    z-index: 999;
    margin-top: 332px; 
    font-weight: 600;
    margin-left: 10px;
    color: #00cc00;
}

.foo {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 999;
    margin-top: 395px;
    margin-left: 5px;
}

.black {
  background: #000000;
}

.no-data-divclass{
    position: absolute;
    z-index: 999;
    margin-top: 392px;
    margin-left: 30px;
    font-weight: 600;
}

.nav>li>a:focus{
    text-decoration: none;
    background-color: red;  /*here color on tab*/
}

.nav .special{
    text-decoration: none;
    background-color: red;  /*here color on tab*/
}