  <ul class="nav nav-tabs">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span *ngIf="!selectedRegion">select nps</span> <span *ngIf="selectedRegion">{{selectedRegion}}</span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li *ngFor="let region of regionsList" (click)="regionChange(region)"><a href="#">{{region}}</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span *ngIf="!selectedBrand">select brand</span> <span *ngIf="selectedBrand">{{selectedBrand}}</span><span class="caret"></span></a>
      <ul class="dropdown-menu" *ngIf="selectedRegion">
        <li *ngFor="let brandName of brandNames" (click)="brandChange(brandName)"><a href="#">{{brandName}}</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span *ngIf="!selectedYear">select year</span> <span *ngIf="selectedYear">{{selectedYear}}</span><span class="caret"></span></a>
      <ul class="dropdown-menu" *ngIf="selectedBrand">
        <li *ngFor="let year of yearsList" (click)="yearChange(year)"><a href="#">{{year}}</a></li>
      </ul>
    </li>
    <!--<li *ngIf="selectedYear" [class.special]="selectedTab == 'Q1'" (click)="onQ1Select()"><a href="#">Q1 <span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
    <!--<li *ngIf="selectedYear" [class.special]="selectedTab == 'Q2'" (click)="onQ2Select()"><a href="#">Q2 <span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
    <!--<li *ngIf="selectedYear" [class.special]="selectedTab == 'Q3'" (click)="onQ3Select()"><a href="#">Q3 <span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
    <!--<li *ngIf="selectedYear" [class.special]="selectedTab == 'Q4'" (click)="onQ4Select()"><a href="#">Q4 <span class="glyphicon glyphicon-chevron-right"></span></a></li>       -->
  </ul>

<p class="title-canvas" *ngIf="isCanvas"> NPS Change rate</p>

<div class="foo black" *ngIf="selectedYear"></div>
<div class="no-data-divclass" *ngIf="selectedYear"> No data available</div>

<canvas #myCanvas class="canvas-class" [hidden]="!isCanvas">Your browser does not support the HTML5 canvas tag.</canvas>

<p class="top-value-class" *ngIf="isCanvas">{{npsObject.minNPS}}</p>
<p class="last-value-class" *ngIf="isCanvas">{{npsObject.maxNPS}}</p>

 <div style="height: 500px" id="map"></div>

