<nav class="navbar navbar-inverse" *ngIf="isChrome">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sample Leaflet Mapping</a>
    </div>
  </div>
</nav>


<div class="container" *ngIf="isChrome">
  <app-map></app-map>
</div>

<div class="container browser-message" *ngIf="!isChrome">
        <p>Only Chrome browser is supported!</p>
</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom" *ngIf="isChrome">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Sample Leaflet Mapping </a>
    </div>
  </div>
</nav>
