/* You can add global styles to this file, and also import other style files */



.info-div{
          font: 14px/16px Arial, Helvetica, sans-serif;
          line-height: 25px;
      }

.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 4px;
    text-align: center;
}



.color-blue{
  color: blue
}
.color-red{
  color: red
}

.leaflet-popup-content {
    margin: 7px 7px !important;
    line-height: 1.4;
}
.set-margincls{
  margin-bottom: 0 !important;
}